<!--<div ng-controller="NodesCtrl" flex layout="row" class="whole-container" >-->
<div ng-controller="nodeCtrl" flex layout="row" class="whole-container">

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="ul.toggleList()" aria-label="Show Toolbar"
      md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar class="md-toolbar-tools md-whiteframe-z2">
            <h3><img src="img/network/logo.png" alt="logo" class="logo" style="height:48px;">
                <label class="logo-label" style="display: inline-block;">
                    Bubble PLE
                </label>
            </h3>
        </md-toolbar>

        <md-list class="sidebar-menu" >
            <md-list-item>
                <md-button aria-label="plus" ng-click="addNewBubble($event)" flex>
                    <md-icon class="fa fa-plus fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Add Bubble
                    </md-tooltip>
                    <label class="icon-label">
                        Add Bubble
                    </label>
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button aria-label="link" ng-click="addNewEdge()" flex>
                    <md-icon class="fa fa-arrows-h fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Add Edge
                    </md-tooltip>
                    <label class="icon-label">
                        Add Edge
                    </label>
                    
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button aria-label="link" ng-click="addLinkBubble()" flex>
                    <md-icon class="fa fa-link fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Add Link Bubble
                    </md-tooltip>
                    <label class="icon-label">
                        Add Link Bubble
                    </label>
                </md-button>
            </md-list-item>
            <md-list-item>
                <!-- Hidden element to upload file -->
                <div>
                    <input type="file" id="i_file" name="fileattachment[]" ngf-select="onFileSelect($file)" style="display: none;"/>
                </div>
                <md-button aria-label="file" ng-click="clickUpload()" flex>
                    <md-icon class="fa fa-file-o fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Upload Document
                    </md-tooltip>
                    <label class="icon-label">Upload Document</label>
                    
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button aria-label="media"  ng-click="clickUpload()" flex>
                    <md-icon class="fa fa-film fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Upload Media
                    </md-tooltip>
                    <label class="icon-label">Upload Media</label>
                    
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button aria-label="edit" ng-click="openNodeChangeBox()" flex>
                    <md-icon class="fa fa-pencil fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Edit Bubble
                    </md-tooltip>
                    <label class="icon-label">Edit Bubble</label>
                    
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button aria-label="note" ng-click="openTextBox()" flex>
                    <md-icon class="fa fa-font fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Add note to Bubble
                    </md-tooltip>
                    <label class="icon-label">Add note to Bubble</label>
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button aria-label="share" flex>
                    <md-icon class="fa fa-share-alt fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Share Bubble and sub-bubbles
                    </md-tooltip>
                    <label class="icon-label">Share Bubble</label>
                    
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button aria-label="delete" ng-click="deleteSelectedNodeEdge()" flex>
                    <md-icon class="fa fa-trash fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Delete Bubble
                    </md-tooltip>
                    <label class="icon-label">Delete Bubble</label>
                    
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button aria-label="search" ng-click="searchNode()" flex>
                    <md-icon class="fa fa-search fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Search in bubbles
                    </md-tooltip>
                    <label class="icon-label">Search in bubbles</label>
                    
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button aria-label="Priority" ng-click="changeColor()" flex>
                    <md-icon class="fa fa-bolt fa-2x"></md-icon>
                    <md-tooltip md-direction="right">
                        Mark Priority
                    </md-tooltip>
                    <label class="icon-label">Mark Priority</label>
                    
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button aria-label="Priority" ng-click="collapse_sidebar()" flex>
                    <md-icon class="fa fa-minus fa-2x"></md-icon>
                    <label class="icon-label">collapse</label>
                    
                </md-button>
            </md-list-item>
        </md-list>

    </md-sidenav>

    <md-content layout="column" flex id='content'>
        <md-toolbar layout="row" class = "md-whiteframe-z2 breadcrumb-bar"> 
            <md-button id="main" class="menu" ng-click="toggleList()" hide-gt-sm aria-label="Show Toolbar">
                <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <div class="custom-breadcrumb-bar">{{breadCrumbs}}</div>
            <div class="search-box">
                <md-icon class="fa fa-search"></md-icon>
                <md-autocomplete ng-disabled="nodeCtrl.isDisabled"
                    md-no-cache="nodeCtrl.noCache"
                    md-selected-item="nodeCtrl.selectedItem"
                    md-search-text-change="nodeCtrl.searchTextChange(nodeCtrl.searchText)"
                    md-search-text="nodeCtrl.searchText"
                    md-selected-item-change="nodeCtrl.selectedItemChange(item)"
                    md-items="item in nodeCtrl.querySearch(ctrl.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="search bubble">

                </md-autocomplete>
            </div>
        </md-toolbar>
        
        <div id="bubbles" flex layout-fill></div>
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-linear md-mode="determinate" value="{{progressBarValue}}" ng-show="showProgressBar"></md-progress-linear>
        </div>
        
    </md-content>

</div>