<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body ng-controller="NodesCtrl">

<md-content layout-gt-xs="row" layout-xs="column" flex>

    <div layout-gt-xs="column" layout-xs="row" class="sidebar md-whiteframe-z2" layout-wrap>
        <md-button aria-label="plus" ng-click="addNewNode($event)" flex>
            <md-icon class="fa fa-plus fa-2x"></md-icon>
        </md-button>

        <md-button aria-label="link" flex>
            <md-icon class="fa fa-link fa-2x"></md-icon>
        </md-button>

        
        <!-- Hidden element to upload file -->
        <div>
            <input type="file" id="i_file" name="fileattachment[]" ngf-select="onFileSelect($file)" style="display: none;"/>
        </div>


        <md-button aria-label="file" ng-click="clickUpload()" flex>
            <md-icon class="fa fa-file-o fa-2x"></md-icon>
        </md-button>


        <md-button aria-label="media"  ng-click="clickUpload()" flex>
            <md-icon class="fa fa-film fa-2x"></md-icon>
        </md-button>


        <md-button aria-label="edit" ng-click="openTextBox()" flex>
            <md-icon class="fa fa-font fa-2x"></md-icon>
        </md-button>

        <md-button aria-label="note" ng-click="openNodeChangeBox()" flex>
            <md-icon class="material-icons">note_add</md-icon>
        </md-button>

        <md-button aria-label="share" flex>
            <md-icon class="fa fa-share-alt fa-2x"></md-icon>
        </md-button>


        <md-button aria-label="delete" ng-click="deleteSelectedNode()" flex>
            <md-icon class="fa fa-trash fa-2x"></md-icon>
        </md-button>
    </div>

    <div class="md-padding">
        <h1>Welcome to {{courseName}} PLE</h1>
        <div id="bubbles" flex layout-fill></div>
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-linear md-mode="determinate" value="{{progressBarValue}}" ng-show="showProgressBar"></md-progress-linear>
         </div>
    </div>

</md-content>

</body>
</html>