<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body ng-controller="NodesCtrl">

<md-content layout-gt-xs="row" layout-xs="column" flex>

    <div layout-gt-xs="column" layout-xs="row" class="sidebar md-whiteframe-z2" layout-wrap>
        <md-button aria-label="plus" flex>
            <md-icon class="fa fa-plus fa-2x"></md-icon>
        </md-button>

        <md-button aria-label="link" flex>
            <md-icon class="fa fa-link fa-2x"></md-icon>
        </md-button>


        <md-button aria-label="file" flex>
            <md-icon class="fa fa-file-o fa-2x"></md-icon>
        </md-button>


        <md-button aria-label="media" flex>
            <md-icon class="fa fa-film fa-2x"></md-icon>
        </md-button>


        <md-button aria-label="edit" ng-click="openTextBox()" flex>
            <md-icon class="fa fa-font fa-2x"></md-icon>
        </md-button>

        <md-button aria-label="share" flex>
            <md-icon class="fa fa-share-alt fa-2x"></md-icon>
        </md-button>


        <md-button aria-label="delete" flex>
            <md-icon class="fa fa-trash fa-2x"></md-icon>
        </md-button>
    </div>
    
<!--    <md-input-container ng-show="showTextBox" class="md-block">
        <form name="addTextForm">
            <textarea ng-model="node.text" columns="1" md-maxlength="150" rows="5"></textarea>
            <button ng-click="addTextToNodes()" type="submit"> save </button>
        </form>
    </md-input-container>-->

    <div class="md-padding">
        <h1>Welcome to {{courseName}} PLE</h1>
        <div id="bubbles" flex layout-fill></div>
    </div>

</md-content>

</body>
</html>