<?php
$options = array(
	'roles' => array(
		'guest' => array(),
		'user' => array(
			'moderator' => array(
				'administrator' => array() // Admin role must be leaf and must contain 'admin'
			)
		)
	)
);

return array(
	'skelletion_application' => $options,
)