{% set link = serverUrl(url('zfcuser/login')) %}
Hallo {{ user.getDisplayName }},<br><br> 
danke für die Registrierung auf unserer Webseite. Du kannst dich Jetzt unter dem unten stehenden Link anmelden:<br><br>
<a href="{{ link }}">{{ link }}</a>