body{
	padding-top: 0;
	
	> md-content{
		position: absolute;
		top: 0;
		left: 0;
		/*padding-top: 64px;*/
	}
}

.sidebar {
    max-width: 100%;
}

.bubble_logo{
	background-image: url('../img/logo.png');
	height: 48px;
	width: 48px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}

#bubbles,
#mynetwork{
	position: relative;
	margin-top: 64px;
	.vis-network{
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.course-buttons{
	position: absolute;
	top: 0;
	right: 0;
}

md-dialog > md-dialog-content{
  padding: 20px;
  text-align: center;
}

md-toolbar.breadcrumb-bar {
    background: #f6f6f6 !important;
	position: fixed;
}

.whole-container {
    height: 100%;
}

/*.search-box {
    width: 3%;
    margin: 10px 15px 0 0;
    
    > md-autocomplete {
        display: inline-block;
        width: 90%;
    }
    
    > md-icon.fa-search {
        display: inline-block;
        font-size: 25px;
        color: rgba(0,0,0,0.54);
        vertical-align: top;
        margin: 8px 0px 0px;
        cursor: pointer;
    }
}*/

.fa-2x {
    background-color: #5c6bc0;
    margin-right: 11px;
    color: #ffffff;
    color: #ffffff;
    text-align: center;
    line-height: 56px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.sidebar-menu {
    .md-button {
        text-align: left;
        min-width: 0;
    }
}

/*.breadcrumb-bar {
    position: fixed;
}*/

.custom-breadcrumb-bar {
    margin: 0px 20px;
    color: black;
    width: 97%;
    overflow: hidden;
}

.logo-label {
    vertical-align: top;
    padding: 0 0 0 10px;
    margin: 10px;
    font-size: 25px;
}

.search-icon {
    margin: 0 10px 12px 0;
    font-size: 35px;
}

.menu-icon {
    margin: 0 10px 14px 0;
    font-size: 35px;
}

.search-button {
    min-width: 70px;
}

.menu-button {
    min-width: 70px;
}

.icon-label {
    cursor: pointer;
}

.breadcrumb-link {
    margin: 13px 0 0 0;
}

.center-logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-color: rgb(63,81,181);
    background-position: center;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 100px auto;
    
}

.center-logo-label {
    margin: -50px 0 20px 0;
    font-size: 40px;
    text-align: center;
}

.authenticate-button {
    width: 300px;
    margin: 0 auto;
    border-radius: 6px;
}
.authenticate-button-content {
    font-size: 20px;
    height: 54px;
}

.md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon.authenticate-icon {
    color: white
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {
    color: rgba(113, 111, 111, 0.87);
}

.notice {
    color: green;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
}

#mynetwork{
	md-progress-circular{
		margin: 0 auto;
	}
}

.loading-circle {
    background-image: url('../img/white-loading.gif');
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 6px -8px 0;
}

.loading-message {
    display: inline-block;
}

md-input-container .mediaurl{
    width : 295px; 
}

.breadcrumb-link{
    max-width: 45%;
    text-overflow: ellipsis;
}

.breadcrumb-link-child {
    max-width: 40%;
    text-overflow: ellipsis;
}

/*======================*/
/*Media queries*/
/*======================*/

@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: portrait)
{
  md-toolbar {
    min-height: 64px; 
  }
  
  .md-toolbar-tools {
    height: 64px;
    max-height: 64px;
    
  }

}

@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape)
{
  md-toolbar {
    min-height: 64px; 
  }
  
  .md-toolbar-tools {
    height: 64px;
    max-height: 64px;
    
  } 

}

@media only screen and (max-width: 959px) {
    .custom-breadcrumb-bar {
        width: 95%;
    }
    
    .search-icon {
        margin: 0;
        font-size: 24px;
    }

    .menu-icon {
        margin: 0;
        font-size: 24px;
    }

    .search-button {
        margin: 0;
        min-width: 50px;
    }

    .menu-button {
        margin: 0;
        min-width: 50px;
    }
    
    .back-button {
        margin: 0;
        min-width: 50px;
    }
}

@media screen and (max-width: 456px) {
    md-sidenav.site-sidenav {
      width: 320px;
      min-width: calc(100% - 85px);
      max-width: 320px; 

    }
}