body{
	padding-top: 0;
}

.sidebar {
    max-width: 100%;
}

#mynetwork{
  position: fixed !important;
  position: absolute;
  margin-top: 100px;
  float: left;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#bubbles{
  position: fixed !important;
  position: absolute;
  margin-top: 100px;
  margin-left:100px;
  float: left;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}