<?php
/**
 * GoalioMailService Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 */
$settings = array(

    /**
     * Transport Class
     *
     * Name of Zend Transport Class to use
     */
    'type' => 'Zend\Mail\Transport\SMTP',

    'options' => array(
		'name'              => 'localhost',
		'host'              => 'mail.gmx.de',
		'port'              => 587,
		'connection_class'  => 'login',
		'connection_config' => array(
			'username' => '',
			'password' => '',
			'ssl'      => 'tls',
		)
	),

    /**
     * End of GoalioMailService configuration
     */
);

/**
 * You do not need to edit below this line
 */
return array(
    'goaliomailservice' => $settings,
);
